<h1>edit</h1>

<%= form_for @review do |f| %>
	<p>
	<%= f.label :title %><br />
	<%= f.text_field :title %> 
	</p>
	<p>
	<%= f.label :content %><br />
	<%= f.text_area :content %> 
	</p>
	<p>
	<%= f.submit "Update review "%>


<%end %>
